{%extends 'layout.html'%}
{% block content%}

{% load static %}

{% for posts in posts %}

<div class="py-3">
    <div class="card card-body bg-black">
        <div class="row">
            <div class="col-3">
               <img src="{{posts.image.url}}" alt="{{posts.title}}" class="img-fluid">
            </div>
            <div class="col-9">
                <h1>{{posts.title}}</h1>
                <h3>{{posts.date}}</h3>
                <p>{{posts.description|truncatechars:200}}</p>
                <p>{{posts.date|date:'D M Y'|upper}}</p>
               
                <br>
                <br>
                <h3>
                    <a href="{% url 'blog:posts_detail' posts.id%}" class="btn btn-primary">{{posts.title}}</a>
                </h3>
            </div>
        </div>
    </div>
</div>

    
    
{% endfor %}

{% endblock %}
